/PetsClone/nbproject/private/
/hind/nbproject/private/
/hind/build/
/hink/nbproject/private/
/hink/build/
/Anime/nbproject/private/
/Anime/build/
/JavaFXApplication1/nbproject/private/
/JavaFXSwingApplication1/nbproject/private/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication3/nbproject/private/
/JavaApplication60/nbproject/private/
/JavaApplication60/build/